.demo-table {
	width: 70%;
	border-collapse: collapse;
	font-size: 16px;
	margin-left: 5rem;
	text-align: center;

}

.demo-table th, .demo-table td {
	/*padding: 5px 10px;*/
	width: 50px;
	vertical-align: middle;
}

.demo-table thead th:last-child,
.demo-table tfoot th:last-child,
.demo-table tbody td:last-child {
	border: 0;
}

/* Table Header */
.demo-table thead th {
	border-right: 1px solid #000;
	text-transform: uppercase;	
	height: 60px;

}

/* Table Body */
.demo-table tbody td {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 90px;
}

.demo-table tbody tr:nth-child(odd) td {
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;

}

.demo-table tbody tr:nth-child(even) td {
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;

}

/* Table Body 2 */
.demo-table-2 {
	width: 70%;
	border-collapse: collapse;
	font-size: 16px;
	margin-left: 5rem;
	text-align: center;

}

.demo-table-2 th, .demo-table-2 td {
	/*padding: 5px 10px;*/
	width: 150px;
	vertical-align: middle;
}

.demo-table-2 thead th:last-child,
.demo-table-2 tfoot th:last-child,
.demo-table-2 tbody td:last-child {
	border: 0;
	border-bottom: 1px solid #000;
}

/* Table Header */
.demo-table-2 thead th {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	text-transform: uppercase;	
	height: 60px;

}

/* Table Body */
.demo-table-2 tbody td {
	border-right: 1px solid #000;
	/*border-top: 1px solid #000;*/
	border-bottom: 1px solid #000;
	height: 90px;
}

.demo-table-2 tbody tr:nth-child(odd) td {
	
	/*border-top: 1px solid #000;*/
	border-bottom: 1px solid #000;

}

.demo-table-2 tbody tr:nth-child(even) td {
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;

}


.competitor{
	background-color: #fff;
	width: 165px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	color: #383232;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

.aspect{
	background-color: #fff;
	width: 150px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	color: #383232;
	font-weight: bold;
	border: none;
	border-radius: 10px;	
}
.container {padding:20px;}
.popover {width:350px;max-width:1500px;}
.popover-content h4 {
  color: #00A1FF;
}
.popover-content h4 small {
  color: black;
}
.popover-content button.btn-primary {
  color: #00A1FF;
  border-color:#00A1FF;
  background:white;
}

.popover-content button.btn-default {
  color: gray;
  border-color:gray;
}

.btn-save{
	margin-left: 56rem;
}

.save-style{
	width: 120px;
	height: 40px;
	background: #4C12AB;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 33px;
	color: #FFFFFF;
}

select{
	appearance : none;
	-webkit-appearance:none;
	-moz-appearance:none;
	width: 20px; 
	height: 50px; 
	border: none; 
	background: none;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

/*.input-result{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #B1B1B1;
	background: none;
}*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}
.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}

.fa-question-circle{
	color: #4C12AB;
}

.hide-col {
    width: 0px !important;
    height: 0px !important;
    display: block !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

 .hidden{display: none;}