.modal {
     padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.3);
}

.modal-dialog_a {
    top: 20%;
    width: 100%;
    position: absolute;
}

.modal-content_a {
    border-radius: 10px;
    border: none;
    padding: 25px;
    top: 40%;
}

.modal-body_a {
    background-color: #0f8845;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.modal-dialog_b {
    top: 20%;
    width: 100%;
    position: absolute;
}
.modal-content_b {
    border-radius: 10px;
    border: none;
    padding: 25px;
    top: 40%;
}
.modal-body_b {
    background-color: #990000;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 500;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    background: #336633;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #339933;
    color: #ffffff;
}
.btn-primary:active, .btn-primary.active {
    background: #336633;
    box-shadow: none;
}
.modal-title-project{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #4C12AB;
}